.contentContainer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 95Vh;
    overflow-y: auto;
    display: none;
    align-items: center;

    background-color: $lightBg-color;

    &__content{
        display: flex;
        gap: 40px;
        
        max-width: 1192px;
        margin: 0 40px;
    }
}

.open{
    display: flex;
    flex-direction: column;
}

.closeBtn{
    position: fixed;
    top: 5vh;
    right: 0;
    z-index: 10;
}

.imgSection{
    height: 100vh;
    position: sticky;
    top: 0;
}

.hourChange{
    display: flex;
    margin: 80px 0 40px 0;
}