.scrollContainer{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.sliderContainer{
    display: flex;
    gap: 20px;
    padding: 0 0 0 50vw;

    &__slide{
        width: 100px;
        height: 300px;
        filter: grayscale(100%);
        scale: 1;
        transition: all 0.3s ease-in-out;

        &:hover{
            filter: grayscale(0%);
            scale: 1.05;
            cursor: pointer;
        }
    }
}